<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">新的营地</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">名字</label>
                <input class="form-control" type="text" id="title" name="campground[title]">    
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">地点</label>
                <input class="form-control" type="text" id="location" name="campground[location]">    
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">图片链接</label>
                <input class="form-control" type="text" id="image" name="campground[image]">    
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">价格</label>               
                <div class="input-group">
                    <span class="input-group-text" id="price-label">¥</span>
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="price" aria-describedby="price-label" name="campground[price]">
                </div>
            </div>
              
            <div class="mb-3">
                <label class="form-label" for="description">描述</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">增加营地</button>
    
            </div>
        </form>
        <a href="/campgrounds">返回所有营地</a>
    </div>
</div>
